<% if flash[:success] %>
    <p><%= flash[:success] %></p>
<% end %>

<h1> <%= @user.name  %> </h1>

<h2>Attended Events</h2>
<% @user.attended_events.past.each do |event|  %>
    <%= event.name %>
<% end %>

<h2>Registered Upcoming Events</h2>
<% @user.attended_events.upcoming.each do |event|  %>
    <%= event.name %>
<% end %>