<h2>Upcoming Events</h2>
<% @events.upcoming.each  do |event|  %>
    <h3> <%= event.name %> </h3>
<% end %>

<h2>Past Events</h2>
<% @events.past.each  do |event|  %>
    <h3> <%= event.name %> </h3>
<% end %>